* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e8edf5;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.container {
  max-width: 1500px;
}
